<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.antennae.gcmtests.gcmtest" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="org.antennae.gcmtests.gcmtest.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="org.antennae.gcmtests.gcmtest.permission.C2D_MESSAGE"/>

    <!--
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.antennae.notifyapp.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.antennae.notifyapp.activities.MessageDetailActivity"
            android:label="@string/title_activity_message_detail" >
            <intent-filter >
                <action android:name="org.antennea.intent.notifications.alert"/>
                <category android:name="org.antennea.category.notifications"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="org.antennae.notifyapp.receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="org.antennae.gcmtests.gcmtest"/>
            </intent-filter>
        </receiver>


        <service android:name="org.antennea.notifyapp.services.MyGcmIntentService" android:exported="false" ></service>
        <service android:name="org.antennea.notifyapp.services.GcmIntentService" android:exported="false" ></service>
    </application>

</manifest>
